@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');

.login-view {
    display: none;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FFD370;
    color: #333;
}

/* login & register */

.container-login {
    padding: 87px 116px;
    justify-content: space-evenly;
}

.left-area {
    width: 386px;
}

.login-view {
    margin-top: 62px;
    margin-left: 106px;
}

.register-view {
    margin-left: 103px;
}

.bg-img {
    width: 100%;
}

/* todolist */
.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px;
}

.navbar .logo {
    height: 37px;
}

.nav-right  {
    justify-content: space-between;
}

.todo {
    border-radius: 10px;
    justify-content: center;
}

.input-add-todo {
    width: 468px;
}

.todo-show {
    width: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.todo-mission {
    margin: 0 48px 0 24px;
}

.todo-mission ul li {
    display: flex;
    padding: 16px 0;
    border-bottom: 1px solid #E5E5E5;
}

.todo-text {
    color: #333;
}